- provide(:title, t(:accommodation, scope: [:menu]))

.row
  %section
    %h1 
      = t(:accommodation, scope: [:menu])
    .col-sm-6.col-sm-offset-3
      %p On this page we will describe to you what kinds of accommodation we are offering.