- provide(:title, t(:activities, scope: [:menu]))

.row
  %section
    %h1 
      = t(:activities, scope: [:menu])
    .col-sm-6.col-sm-offset-3
      %p On this page we will describe to you what kinds of activities we are offering.