.row
  %section.directions.clearfix
    %h1 Waar is ons?

    .col-sm-5
      %section.address
        %h2 Roete R563
        .row
          .col-sm-10.col-sm-offset-1
            %p.formal-address
              Farm Hekpoort <br/>
              J504, Portion 396 </br>
              Hekpoort </br>
              1739
        .row 
          .col-sm-10.col-sm-offset-1
            %p.distances
              Afstand vanaf: 
              Krugersdorp  -  20 minute <br/>
              Pretoria  - 90 km <br/>
              Johannesburg - 80 km <br/>
              Rustenburg - 70 km <br/>
              Magaliesburg - 20 km <br/>
    .col-sm-7
      %section.map
        %figure
          = image_tag('map.png', class: 'map')