.row
  %section.facilities.clearfix
    .col-xs-10.col-sm-6.col-xs-offset-1.col-sm-offset-3
      .row
        %h1 FACILITIES
      .row
        .announcements
          .row
            .col-xs-8.col-sm-8.topic
              %p Braai geriewe
            .col-xs-4.col-sm-4.announcement
              %span.label.label-warning Nou beskikbaar  
          .row
            .col-xs-8.col-sm-8.topic
              %p Vlugbal
            .col-xs-4.col-sm-4.announcement
              %span.label.label-info Vanaf 2015  
          .row
            .col-xs-8.col-sm-8.topic
              %p Afdak/Saal met 'Big Screen'
            .col-xs-4.col-sm-4.announcement
              %span.label.label-warning Nou beskikbaar  
          .row
            .col-xs-8.col-sm-8.topic
              %p Winkel en tierlantynkies
            .col-xs-4.col-sm-4.announcement
              %span.label.label-info Vanaf 2015  
          .row
            .col-xs-8.col-sm-8.topic
              %p Swembad
            .col-xs-4.col-sm-4.announcement
              %span.label.label-info Vanaf 2015  
      .row
        .attention
          %h4 ROLSTOEL VRIENDELIK
          %p 1 x Ablusieblok (Mans en Dames): Toilette, Storte
      .row
        .terms
          %h4 TERME en VOORWAARDES
          %p 
            50% deposito, balans sodra arriveer. </br>
            <strong>Betaal binne 2 dae om plek te verseker</strong> </br>
            Geen Kredietkaart fasiliteite. </br>
            Geen honde word toegelaat nie. </br>
            Geen harde musiek. Geen alkohol.
