.row
  %section.facilities
    .col-sm-8.col-sm-offset-2
      .panel.panel-default
        .panel-heading
          %h1 FACILITIES
        .panel-body
          .col-sm-8.topic
            %p Braai geriewe
          .col-sm-4.annoucement
            %p Vanaf Augustus  
        .panel-body
          .col-sm-8.topic
            %p Vlugbal
          .col-sm-4.annoucement
            %p Vanaf 2015  
        .panel-body
          .col-sm-8.topic
            %p Afdak/Saal met 'Big Screen'
          .col-sm-4.annoucement
            %p Nou beskikbaar  
        .panel-body
          .col-sm-8.topic
            %p Winkel en tierlantynkies
          .col-sm-4.annoucement
            %p Vanaf 2015  
        .panel-body
          .col-sm-8.topic
            %p Swembad
          .col-sm-4.annoucement
            %p Vanaf 2015  
        .panel-footer
          %p ROLSTOEL VRIENDELIK
          %p 1 x Ablusieblok (Mans en Dames): Toilette, Storte
