.row
  %section.facilities.clearfix
    .col-sm-8.col-sm-offset-2
      .row
        %h1 FACILITIES
      .row
        .col-sm-7.topic
          %p Braai geriewe
        .col-sm-5.annoucement
          %p Vanaf Augustus  
      .row
        .col-sm-7.topic
          %p Vlugbal
        .col-sm-5.annoucement
          %p Vanaf 2015  
      .row
        .col-sm-7.topic
          %p Afdak/Saal met 'Big Screen'
        .col-sm-5.annoucement
          %p Nou beskikbaar  
      .row
        .col-sm-7.topic
          %p Winkel en tierlantynkies
        .col-sm-5.annoucement
          %p Vanaf 2015  
      .row
        .col-sm-7.topic
          %p Swembad
        .col-sm-5.annoucement
          %p Vanaf 2015  
      .row.attention
        %p ROLSTOEL VRIENDELIK
        %p 1 x Ablusieblok (Mans en Dames): Toilette, Storte
      .row.terms
        %p 
          TERME en VOORWAARDES </br>
          50% deposito binne 2 dae om plek te verseker, balans sodra arriveer. </br>
          Geen Kredietkaart fasiliteite. </br>
          Geen honde word toegelaat nie. </br>
          Geen harde musiek. Geen alkohol.
