%section.font-test
  %h2 Testing Fonts

  %p.one 
    Carpe Diem Camping grounds is in Hekpoort, between the
    Magalies mountains and the Water mountains.  
  %p.two 
    Carpe Diem Camping grounds is in Hekpoort, between the
    Magalies mountains and the Water mountains.  
  %p.three 
    Carpe Diem Camping grounds is in Hekpoort, between the
    Magalies mountains and the Water mountains.  
  %p.four 
    Carpe Diem Camping grounds is in Hekpoort, between the
    Magalies mountains and the Water mountains.  
  %p.five 
    Carpe Diem Camping grounds is in Hekpoort, between the
    Magalies mountains and the Water mountains.  
  %p.six 
    Carpe Diem Camping grounds is in Hekpoort, between the
    Magalies mountains and the Water mountains.  

  %p
    = link_to 'Change to Afrikaans', '/af', method: :post