- provide(:title, t(".new_event"))
.row
  %section.events.clearfix
    %header
      %h1
        = t(".new_event")
    .row
      .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
        = form_for([:admin, @event], html: {class: "form-horizontal", role: "form"}) do |f|
          = render 'fields', f: f
          .centered
            .button.btn
              = f.submit t(".create_event"), class: "btn btn-large btn-primary"   