- provide(:title, t(".update_chalet"))
.row
  %section.chalets
    %h1 
      = t(".update_chalet")
    .row
      .col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-1
        = form_for([:admin, @chalet], html: {class: "form-horizontal", role: "form"}) do |f|
          = render 'fields', f: f
          .centered
            .button.btn
              = f.submit t(".update_chalet"), class: "btn btn-large btn-primary" 
