- provide(:title, t(".update_tariff"))
.row
  %section.tariffs
    %h1 
      = t(".update_tariff")
    .row
      .col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-1
        = form_for([:admin, @accommodation_type, @tariff], html: {class: "form-horizontal", role: "form"}) do |f|
          = render 'fields', f: f
          .centered
            .button.btn
              = f.submit t(".update_tariff"), class: "btn btn-large btn-primary"        
        