- provide(:title, t(:without_power_points, scope: [:accommodation]).titleize)

%section.accommodation
  %h1
    = t(:without_power_points, scope: [:accommodation]).titleize
  .row.accommodation-type
    - @season_detail_lines.each do |dtl_line|
      - @season_detail_line = dtl_line
      = form_for(@season_detail_line, :html => {class: "form-horizontal", role: "form"}, data: { id: @season_detail_line.id } ) do |f|
        = render 'fields', f: f
        .col-sm-10.col-sm-offset-5
          = f.submit t(:save_changes, scope: [:actions]), class: "btn btn-large btn-primary"    
      -# debug @season_detail_line  