@import "bootstrap";

$medium-brown: rgb(206,185,136);
$dark-brown: #543F20;
$darker-brown: #9e8859;
$lighter-brown: #c2ae84;
$dark-green: rgb(108, 140, 77);
$darker-green: rgb(75, 97, 64);
$golden-brown: #7F734D;

/*-- RESET ------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td 
                  {margin: 0; padding: 0; border: 0; outline: 0;
                  font-size: 100%; vertical-align: baseline;
                  background: transparent;}
// body              {line-height: 1;}
ol, ul            {list-style: none;}
blockquote, q     {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
:focus            {outline: 0;}
ins               {text-decoration: none;}
del               {text-decoration: line-through;}
table             {border-collapse: collapse; border-spacing: 0;}

@font-face{ 
  font-family: 'MuseoSlab';
  src: asset_url('Museo_Slab_500_2-webfont.eot');
  src: asset_url('Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
       asset_url('Museo_Slab_500_2-webfont.woff') format('woff'),
       asset_url('Museo_Slab_500_2-webfont.ttf') format('truetype'),
       asset_url('Museo_Slab_500_2-webfont.svg#webfont') format('svg');
}

@font-face{ 
  font-family: 'Fertigo_PRO';
  src: asset_url('Fertigo_PRO-webfont.eot');
  src: asset_url('Fertigo_PRO-webfont.eot?#iefix') format('embedded-opentype'),
       asset_url('Fertigo_PRO-webfont.woff') format('woff'),
       asset_url('Fertigo_PRO-webfont.ttf') format('truetype'),
       asset_url('Fertigo_PRO-webfont.svg#webfont') format('svg');
}

@font-face{ 
  font-family: 'SofiaProLight';
  src: asset_url('SofiaProLight-webfont.eot');
  src: asset_url('SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
       asset_url('SofiaProLight-webfont.woff') format('woff'),
       asset_url('SofiaProLight-webfont.ttf') format('truetype'),
       asset_url('SofiaProLight-webfont.svg#webfont') format('svg');
}

h1, h2, h3, h4 {
  font-family: MuseoSlab, Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

nav.navbar.navbar-default.navbar-inverse.main-nav {
  margin: 0;
}

.navbar-collapse {
  position: relative;
  z-index: 2;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 1em;
  position: relative;
}

p {
  font-family: 'SofiaProLight', 'Times New Roman', serif;
  line-height: 180%;
  margin-bottom: 1em;
}

section.test {
  padding: 0.5em;
  width: 100%;
  height: 60px;
}

section.font-test {
  
  p.one {
    font-size: 1.2em;
    font-family: 'MuseoSlab';
  }
  p.two {
    font-size: 1.2em;
    font-family: 'Fertigo_PRO';
  }
  p.three {
    font-size: 1.2em;
    font-family: 'SofiaProLight';
  }
  p.four {
    font-size: 1em;
    font-family: 'MuseoSlab';
  }
  p.five {
    font-size: 1em;
    font-family: 'Fertigo_PRO';
  }
  p.six {
    font-size: 1em;
    font-family: 'SofiaProLight';
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  section.test {
    background: transparent;
    background-color: khaki;
  }

  .main-container {
    background-image: image-url('bg-texture.png');
    // background-image: none;
    z-index: 1;
    // min-height: 500px;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px 0px -50px 0px;
  }

  .mainpage {
    width: 100%;
    padding: 0 0 50px 0;
  }

  .heading-pic img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
  }

  ul.visible li {
    opacity: 1;
    z-index: 5;
    background-color: $medium-brown;  
  }

  ul.nav.navbar-nav li {
    // background-color: $medium-brown;  
    background-image: image-url('bg-nav.png');
    z-index: 5;
    opacity: 0.9;
  }

  .navbar-inverse .navbar-nav,
  .navbar-default .navbar-nav {
    > li > a {
      // color: #543F20;
      // color: lighten($dark-brown, 10%);
      color: $dark-brown;
    }
    > .open {
      a, a:hover, a:focus {
        color: white;
        // background-color: $medium-brown;
        background-image: image-url('bg-nav.png');
      }

    }

    .open .dropdown-menu > li {
      > a {
      background-color: $medium-brown;
      z-index: 5;
      color: darken($dark-brown, 10%);
      }
      > a:hover, > a:focus {
        color: white;
      }
    }

  }

  ul.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    li {
      background-color: rgb(206,185,136);
      z-index: 5;
      a :hover {
        font: white;
      }
    }
  }

  .clearfix:before,
  .clearfix:after {
      content:"";
      display:table;
  }
  .clearfix:after {
      clear:both;
  }

  .main-nav {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  header nav {
    height: 50px;
    width: 100%;
    background-image: image-url('bg-nav.png');
  }

  img.logo {
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 40px 0 20px 0;
    display: block;
    z-index: 1;
  }

  .sign-in {
    h1 {
      margin: 0.5em 0 1em 0;
    }
    form {
      width: 80%;
      margin: 1em auto;
      label {
        font-family: Fertigo_PRO;
      }
      input {
        font-family: SofiaProLight;
      }
    }
  }

  .gravatar {
    margin: 20px auto;
    width: 160px;
    display: block;
  }

  .centered {
    text-align: center;
  }

  section.carpediem {
    // margin: 20px;
    background-image: image-url('bg-texture-light.png');
    // background-color: lightgoldenrodyellow;
    vertical-align: middle;
    // float: right;
    padding: 20px;
    padding-bottom: 0;
    h2 {
      text-align: right;
    }
    figure.logo {
      background-image: image-url('bg-texture-light.png');
      // padding-right: 20px;
      // padding-bottom: 20px;
      figcaption {
        color: $golden-brown;
        display: block;
        padding: 0 20px;
        header {
          h2 {
            padding-top: 5px;
            padding-bottom: 10px;
          }
          p {
            text-align: right;
            font-size: 0.8em;
            font-family: 'Fertigo_PRO';
          }
        }
      }
    }
    figure.entrance {
      display: none;
    }
  }

  section.intro {
    padding: 20px;
    padding-top: 0;
    margin-top: 0;
    background-image: image-url('bg-texture-light.png');
    // background-color: lightgoldenrodyellow;
    h2 {
      padding-top: 5px;
      padding-bottom: 10px;
      font-size: 1.6em;
    }
    p {
      font-size: 0.8em;
      font-family: 'SofiaProLight';
    }
  }

  section.accommodation {
    margin: 0.5em;
    .row { margin: 0; }
    h1 {
      margin-bottom: 0.2em;
      span {
        font-size: 0.6em;
        font-family: arial;
      }
    }
    p.sub-heading {
      text-align: center;
      font-size: 1em;
    }
    p.day-visitor-comment {
      font-size: 0.8em;
    }
    .privilege_type {
      margin-bottom: 1em;
    }
    .privilege_type.day_visitor {
        margin-bottom: 0.2em;
    }

    table {
      width: 100%;

      th, td {
        font-family: arial;
        font-size: 0.6em;
      }
      td { font-family: SofiaProLight; }
      tr {
        width: 100%;
        line-height: 1.2em;
      }
      th:nth-child(1), td:nth-child(1) { width: 25%; } 
      th:nth-child(2), td:nth-child(2) { width: 10%; } 
      th:nth-child(3), td:nth-child(3) { width: 30%; } 
      th:nth-child(4), td:nth-child(4) { width: 35%; } 
      tbody {
        color: white;
        tr:nth-child(odd) { background: $darker-brown; }
        tr:nth-child(even)  { background: $lighter-brown; }
      }
      tr:first-child { 
        background: transparent; 
      }
    }

  }

  section.facilities {
    margin-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-image: image-url('bg-texture-light.png');

    h1 {
      margin-bottom: 0.4em;
      font-size: 1.6em;
    }

    .topic {
      margin-top: 0.1em;
      margin-bottom: 0.1em;
      padding: 0.2em;
      p {
        margin: 0.5em 1em;
        font-family: 'Fertigo_PRO';
        // background-color: #F5E6B5;
      }
    }

    .announcement {
      margin-top: 0.6em;
      margin-bottom: 0.6em;
      padding: 0.2em;
      span {
        font-family: Arial;
        padding: 1em;
      }
    }

    .attention {
      margin-top: 1.8em;
      margin-bottom: 1em;
      font-family: 'Times New Roman';
      text-align: center;
      p {
        font-weight: 1.2em;
        margin: 0;
      }
      p:first-child {
        color: $dark-brown;
      }
    }
    .terms {
      margin: 0.5em;
      // margin-top: 0.5em;
      p {
        font-family: 'Times New Roman';
      }
    }
  }

  section.directions {
    margin-bottom: 1em;

    h1 {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size: 2em;      
    }
    figure {
      margin-left: 2em;
      .map {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }  
    }
  }

  section.address {
    margin-left: 2em 0;
    h2 {
      font-size: 1.6em;
     }
    div {
      display: block;
      p.distances {
        color: #A66E00;
        margin: 1em 1.8em;
      }
      p.formal-address {
        display: block;
        border: 2px solid white;
        margin: 1em 1.8em;
        padding: 10px 30px;;
      }
    }
  }

  section.footer-container {
    width: 100%;
    height: 50px;
  }

  footer {
    height: 50px;
    width: 100%;
    background-image: image-url('bg-nav-dark.png');
    p {
      color: white;
      text-align: center;
      padding-top: 14px;
      font: 0.8em 'Times New Roman', Georgia, Serif
    }
  }

}

/* Extra small devices, Phones */
@media only screen and (min-width : 480px) {  

  section.test {
    background: transparent;
    background-color: darkseagreen;
  }

  section.carpediem {
    float: none;
    figure {
      padding-bottom: 5px;
      figcaption {
        header {
          h2 {
            padding-bottom: 20px;
          }
          p {
            font-size: 0.9em;
          }
        }
      }
    }
  }

  section.intro {
    padding: 30px;
    padding-top: 0;
    h2 {
      padding-top: 5px;
      padding-bottom: 16px;
      font-size: 2em;
    }
    p {
      font-size: 1em;
    }
  }

  section.facilities {
    margin: 0 1em;
  }
}

/* Small devices, Tablets */
@media only screen and (min-width : 768px) {

  section.test {
    background-color: lightpink;
  }

  ul.visible li {
    opacity: 0.8;
    z-index: 5;
    // background-color: $medium-brown;  
  }

  ul.nav.navbar-nav li {
    // background-color: $medium-brown;  
    background-image: image-url('bg-nav.png');
    z-index: 5;
  }

  .navbar-inverse .navbar-nav,
  .navbar-default .navbar-nav {
    > li > a {
      // color: #543F20;
      // color: lighten($dark-brown, 10%);
      color: $dark-brown;
    }
    > .open {
      a, a:hover, a:focus {
        color: white;
        background-color: $medium-brown;
      }

    }

    .open .dropdown-menu > li {
      > a {
      background-color: $medium-brown;
      z-index: 5;
      color: darken($dark-brown, 10%);
      }
      > a:hover, > a:focus {
        color: white;
      }
    }

  }

  ul.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    li {
      background-color: rgb(206,185,136);
      z-index: 5;
      a :hover {
        font: white;
      }
    }
  }

  section.carpediem {
    margin: 20px auto;
    // float: right;
    padding: 20px;
    padding-bottom: 0;
    h2 {
      text-align: right;
      font-size: 1.8em;
      margin: 1.2em 0;
      margin-top: 0.5em;
    }
    figure.entrance {
      display: block;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border-radius: 20px;
        z-index: 1;
      }
    }
  }

  section.intro {
    margin: 20px auto;
    margin-bottom: 0;
    padding: 2em 1.6em 1em 1.6em;
    h2 {
      // padding-top: 5px;
      padding-bottom: 30px;
      font-size: 1.6em;
    }
    p {
      font-size: 1em;
    }
  }

  section.facilities {
    padding-top: 1.6em;
    padding-bottom: 1.6em;

    .topic {
      p {
        // margin: 0.5em 1em;
        font-size: 1em;
      }
    }

    .announcement {
      margin-top: 0.6em;
      margin-bottom: 1.6em;
      // padding: 0.2em;
      span {
        // padding: 1em;
        font-size: 0.8em;
      }
    }
  }

  section.accommodation {
    margin: 1em;
    margin-bottom: 3em;

    p.sub-heading {
      margin-bottom: 2em;
    }

    table {
      td {
        font-size: 0.7em;
        font-family: SofiaProLight;
      }
      tr {
        line-height: 1.6em;
      }
    }
  }  
}

/* Media Devices, Desktops */
@media only screen and (min-width : 992px) {

  section.test {
    background-color: lightsteelblue;
  }

  section.facilities {
    h1 {
      margin-bottom: 0.6em;
      font-size: 2em;
    }
    .topic {
      p {
        // margin: 0.5em 1em;
        font-size: 1.2em;
      }
    }

    .announcement {
      span {
        font-size: 0.9em;
      }
    }
  }  

  section.accommodation {
    margin: 1em 2em;

    table {
      width: 100%;

      th, td {
        font-size: 0.8em;
      }
      tr {
        line-height: 2em;
      }
    }
  }  
}

/* Large Devices, Large Screens */
@media only screen and (min-width : 1200px) {
  section.test {
    background-color: MediumAquaMarine ;
  }

}
