@import "bootstrap";

$medium-brown: rgb(206,185,136);
$dark-brown: #543F20;

/*-- RESET ------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td 
                  {margin: 0; padding: 0; border: 0; outline: 0;
                  font-size: 100%; vertical-align: baseline;
                  background: transparent;}
// body              {line-height: 1;}
ol, ul            {list-style: none;}
blockquote, q     {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
:focus            {outline: 0;}
ins               {text-decoration: none;}
del               {text-decoration: line-through;}
table             {border-collapse: collapse; border-spacing: 0;}

@font-face{ 
  font-family: 'MuseoSlab';
  src: url('Museo_Slab_500_2-webfont.eot');
  src: url('Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
       url('Museo_Slab_500_2-webfont.woff') format('woff'),
       url('Museo_Slab_500_2-webfont.ttf') format('truetype'),
       url('Museo_Slab_500_2-webfont.svg#webfont') format('svg');
}

@font-face{ 
  font-family: 'Fertigo_PRO';
  src: url('Fertigo_PRO-webfont.eot');
  src: url('Fertigo_PRO-webfont.eot?#iefix') format('embedded-opentype'),
       url('Fertigo_PRO-webfont.woff') format('woff'),
       url('Fertigo_PRO-webfont.ttf') format('truetype'),
       url('Fertigo_PRO-webfont.svg#webfont') format('svg');
}

h1, h2, h3, h4 {
  font-family: MuseoSlab, Arial, sans-serif;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.2em;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 1em;
  position: relative;
}

p {
  font-family: Fertigo_PRO, 'Times New Roman', serif;
  line-height: 180%;
  margin-bottom: 1em;
}

.mainpage {
  // padding: 0 10px;
} 

.main-container {
  background-image: image-url('bg-texture.png');
  z-index: -1;
}

ul.visible li {
  opacity: 0.8;
  z-index: 5;
  // background-color: $medium-brown;  
}

ul.nav.navbar-nav li {
  // background-color: $medium-brown;  
  background-image: image-url('bg-nav.png');
}

.heading-pic img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

// .navbar-inverse .navbar-nav
//  > .open {
//   > a:hover, a:focus {
//     // background-color: rgb(206, 185, 136);
//     color: #fff;
//   }
// }

.navbar-inverse .navbar-nav,
.navbar-default .navbar-nav {
  > li > a {
    // color: #543F20;
    // color: lighten($dark-brown, 10%);
    color: $dark-brown;
  }
  > .open {
    a, a:hover, a:focus {
      color: white;
      background-color: $medium-brown;
    }

  }

  .open .dropdown-menu > li {
    > a {
    background-color: $medium-brown;
    z-index: 5;
    color: darken($dark-brown, 10%);
    }
    > a:hover, > a:focus {
      color: white;
    }
  }

}

ul.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  li {
    background-color: rgb(206,185,136);
    z-index: 5;
    a :hover {
      font: white;
    }
  }
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

.main-nav {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

header nav {
  height: 50px;
  width: 100%;
  background-image: image-url('bg-nav.png');
  // background: rgb(206,185,136); /* Old browsers */
  // background: -moz-linear-gradient(top,  rgba(206,185,136,1) 0%, rgba(206,185,136,1) 38%, rgba(240,234,218,1) 100%); /* FF3.6+ */
  // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,185,136,1)), color-stop(38%,rgba(206,185,136,1)), color-stop(100%,rgba(240,234,218,1))); /* Chrome,Safari4+ */
  // background: -webkit-linear-gradient(top,  rgba(206,185,136,1) 0%,rgba(206,185,136,1) 38%,rgba(240,234,218,1) 100%);  Chrome10+,Safari5.1+ 
  // background: -o-linear-gradient(top,  rgba(206,185,136,1) 0%,rgba(206,185,136,1) 38%,rgba(240,234,218,1) 100%); /* Opera 11.10+ */
  // background: -ms-linear-gradient(top,  rgba(206,185,136,1) 0%,rgba(206,185,136,1) 38%,rgba(240,234,218,1) 100%); /* IE10+ */
  // background: linear-gradient(to bottom,  rgba(206,185,136,1) 0%,rgba(206,185,136,1) 38%,rgba(240,234,218,1) 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceb988', endColorstr='#f0eada',GradientType=0 ); /* IE6-9 */
}

img.logo {
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 40px 0 20px 0;
  display: block;
  z-index: -1;
}

// div.intro {
//   padding-left: 0;
//   padding-right: 20px;
//   section {
//     margin: 5px;
//     padding: 20px;
//     vertical-align: middle;
//     line-height: 1.8em;
//   }
// }



section.carpediem {
  // margin: 20px;
  vertical-align: middle;
  float: right;
  padding: 20px;
  h2 {
    text-align: right;
  }
  figure {
    background-image: image-url('bg-texture-light.png');
    // padding-right: 20px;
    padding-bottom: 20px;
    figcaption {
      color: #7F734D;
      display: block;
      padding: 0 20px;
      header {
        h2 {
          padding-bottom: 20px;
        }
        p {
          text-align: right;
        }
      }
    }
  }
}

section.intro {
  padding-right: 3em;
  h2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

section.facilities {
  padding-top: 2em;
  padding-bottom: 2em;

  h1 {
    text-align: center;
    margin-bottom: 1em;
  }

  .topic {
    margin-bottom: 0;
    p {
      margin: 0.5em;
      font-family: 'Arial';
      background-color: #F5E6B5;

    }
  }

  .annoucement {
    p {
      margin: 0.5em;
      background-color: #F5EED7;
    }
  }

  .attention {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Times New Roman';
    text-align: center;
    p {
      font-weight: 1.2em;
      margin: 0;
    }
  }
  .terms {
    margin-left: 1em;
    margin-right: 1em;
  }
}

footer {
  height: 50px;
  width: 100%;
  background-image: image-url('bg-nav-dark.png');
  p {
    color: white;
    text-align: center;
    padding-top: 14px;
    font: 0.8em 'Times New Roman', Georgia, Serif
  }
}

