%tbody
  %tr
    %td
      = gravatar_for(user)
    %td
      -# link_to user.full_name, user
      = user.full_name
    %td
      = user.email
    %td
      = t(:admin, scope: [:activerecord, :attributes, :user]) if user.admin? 