- provide(:title, t(:change_password, scope: [:menu]))

%section.password
  %h1 
    = t(:change_password, scope: [:menu])

  .container
    .row
      .col-md-4.col-md-offset-4
        = form_for([:admin, @user], html: {class: "form-horizontal", role: "form"}) do |f|
          = render 'fields', f: f
          .centered
            .button.btn
              = f.submit t(".change_password"), class: "btn btn-large btn-primary"        
