- provide(:title, t(".all_users"))

%section.users
  %h1
    = t(".all_administrators")  
  .col-sm-10.col-sm-offset-1  
    %table.users
      = render @users
    .actions
      .button.btn
        = link_to t(".new_user"), new_admin_user_path
