%section.admin-header
  %ul.nav.nav-pills
    %li.active{role: "presentation"}
      = link_to t('accommodation_types', scope: [:admin,'menu']), admin_accommodation_types_path

  %p.navbar-text.pull-right
    Signed in as 
    %a
      = current_user.full_name

